<body>
  <div id="app" data-server-rendered="true">
    <div class="index-container" data-v-a83bd3b0>
      <div class="header" data-v-a83bd3b0></div>
      <div class="content" data-v-a83bd3b0>
        <div class="aside" data-v-a83bd3b0>
          <div class="aside-container" data-v-4d5303b8 data-v-a83bd3b0>
            <ul role="menubar" class="el-menu-vertical-demo el-menu" style="background-color:#545c64;" data-v-4d5303b8>
              <li role="menuitem" aria-haspopup="true" class="el-submenu" data-v-4d5303b8>
                <div class="el-submenu__title" style="padding-left:20px;color:#fff;background-color:#545c64;"><i
                    class="el-icon-location" data-v-4d5303b8></i> <span data-v-4d5303b8>导航一</span><i
                    class="el-submenu__icon-arrow el-icon-arrow-down"></i></div>
                <ul role="menu" class="el-menu el-menu--inline" style="background-color:#545c64;display:none;">
                  <li class="el-menu-item-group" data-v-4d5303b8>
                    <div class="el-menu-item-group__title" style="padding-left:40px;">分组一</div>
                    <ul>
                      <li role="menuitem" tabindex="-1" class="el-menu-item"
                        style="padding-left:40px;color:#fff;background-color:#545c64;" data-v-4d5303b8>选项1</li>
                      <li role="menuitem" tabindex="-1" class="el-menu-item"
                        style="padding-left:40px;color:#fff;background-color:#545c64;" data-v-4d5303b8>选项2</li>
                    </ul>
                  </li>
                  <li class="el-menu-item-group" data-v-4d5303b8>
                    <div class="el-menu-item-group__title" style="padding-left:40px;">分组2</div>
                    <ul>
                      <li role="menuitem" tabindex="-1" class="el-menu-item"
                        style="padding-left:40px;color:#fff;background-color:#545c64;" data-v-4d5303b8>选项3</li>
                    </ul>
                  </li>
                  <li role="menuitem" aria-haspopup="true" class="el-submenu" data-v-4d5303b8>
                    <div class="el-submenu__title" style="padding-left:40px;color:#fff;background-color:#545c64;">选项4<i
                        class="el-submenu__icon-arrow el-icon-arrow-down"></i></div>
                    <ul role="menu" class="el-menu el-menu--inline" style="background-color:#545c64;display:none;">
                      <li role="menuitem" tabindex="-1" class="el-menu-item"
                        style="padding-left:60px;color:#fff;background-color:#545c64;" data-v-4d5303b8>选项1</li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li role="menuitem" tabindex="-1" class="el-menu-item is-active"
                style="padding-left:20px;color:#ffd04b;background-color:#545c64;" data-v-4d5303b8><i
                  class="el-icon-menu" data-v-4d5303b8></i> <span data-v-4d5303b8>导航二</span></li>
              <li role="menuitem" tabindex="-1" class="el-menu-item is-disabled"
                style="padding-left:20px;color:#fff;background-color:#545c64;" data-v-4d5303b8><i
                  class="el-icon-document" data-v-4d5303b8></i> <span data-v-4d5303b8>导航三</span></li>
              <li role="menuitem" tabindex="-1" class="el-menu-item"
                style="padding-left:20px;color:#fff;background-color:#545c64;" data-v-4d5303b8><i
                  class="el-icon-setting" data-v-4d5303b8></i> <span data-v-4d5303b8>导航四</span></li>
            </ul>
          </div>
        </div>
        <div class="wrapper" data-v-a83bd3b0>
          <div class="home-container" data-v-a83bd3b0>
            这是首页
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/chunk-vendors.490576b2.js" defer></script>
  <script src="/js/main.10d4ffc1.js" defer></script>
</body>